body {
  min-height: 780px;
  min-width: 780px;
}

.menu {
  background: #2196F3;
  color: white;
}

img.logo {
  height: 32px;
  width: 32px;
  margin-right: 12px;
}

.menu .directory {
  padding-right: 16px;
}

/*overriding mdl*/
.mdl-layout__header-row.menu {
  padding: 0 16px 0 16px;
}
i.rename {
  font-size: 18px;
}

.input-panel {
  width: calc(100% - 34px);
  margin: 0 auto;
  padding: 0px 17px;
  background: #F5F5F5;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10000;
  border-top: 1px solid #E0E0E0;
}

.input-panel .mdl-textfield {
  width: 100%;
}

.input-panel .main-input {
  font-size: 14px;
}

.input-panel textarea {
  resize: none;
}

.notification.error {
  background: #FFC107;
  color: black;
}

.notification {
  background: #1565C0;
  color: white;
  padding: 4px 10px;
  border-radius: 2px;
}

.mdl-grid.logline {
  padding: 4px 5px;
}

.logline {
  border-bottom: solid 1px #EEEEEE;
}

/*needs to be dynamic, but it works for now.*/
.logline:last-child {
  padding-bottom: 140px;
  border-bottom: none;
}

.logline .text {
  font-size: 15px;
}

.logline .text pre, .logline .text pre code {
  font-size: 14px;
  margin: 4px 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

@media (max-width: 1024px) {
  .logline .timestamp {
    font-size: 13px;
  }
}

.logline a {
  color: #1E88E5;
}
.logline a:hover {
  color: #2196F3;
}

.timestamp {
  text-align: right;
}
