.menu {
  background: #2196F3;
  color: white;
  -webkit-app-region: drag;
}

.input-panel {
  height: 16%;
  width: 96%;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
  background: #F5F5F5;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10000;
}

.input-panel .mdl-textfield {
  width: 100%;
}

.input-panel textarea {
  resize: none;
}

.logline {
  border-bottom: solid 1px #EEEEEE;
}

/*needs to be dynamic, but it works for now.*/
.logline:last-child {
  padding-bottom: 140px;
}

.logline .text {
  font-size: 16px;
}

.timestamp {
  text-align: right;
}
